<div class='breadcrumbs'>
  <%= link_to @restaurant.name, restaurant_long_url(@restaurant) %> &raquo;
</div>

<h1 class='floatHeader'><%= t('nav.news') %></h1>
<div class='pageTools'>
  <% if logged_in? && @restaurant.author?(current_user) %>
    (<%= link_to t('nav.add_news'), new_restaurant_message_path(@restaurant) %>)
  <% end %>
</div>
<div class='clear'></div>
<div class='space_10'></div>
<div class='break'></div>

<div class='space_10'></div>
<div class='messages'>
  <% @messages.each do |message| %>
    <%= render :partial => 'messages/parts/message', :object => message %>
  <% end %>
</div>