<script type="text/javascript">
  $(function() {
    setTimeout(function() {
      window.location = '<%= logout_url %>';
    }, 10000);

    FB.logout(function() {
      $.get('<%= facebook_connect_update_url %>', {'sid': ''}, function() {
        window.location = '<%= logout_url %>';
      });
    });
  });
</script>

<div class=''>
  <%= t('label.logout_in_progress') %>
</div>
