<div class="grid_12" id='translationEditPanel'>
  <h4>
    <%= link_to 'Administration panel', admin_url %> &raquo;
    <%= link_to 'Manage translations', translations_path %>
  </h4>

  <div class="break"></div>

  <div class="clear"></div>
  <div class="break"></div>
  <div class="space_10"></div>

  <div class='admin_topics'>
    <% form_tag translation_path(params[:id]), :id => 'edit_translation', :method => :put do %>
      <div class='floatingButtons'>
        <input type='submit' value='Update translations' class='buttonSubmit'/>
      </div>

      <div class='space_10'></div>
      <%= render :partial => 'translations', :locals => {:map => @translation_map, :name_prefix => ''} %>
      <div class='space_10'></div>
    <% end %>
    <div class='clear'></div>
  </div>
</div>
<script type="text/javascript" src="http://www.somewhereinbangladesh.net/community/jscript/web/keyboard/jquery.domec.js"></script>
<script type="text/javascript" src="http://www.somewhereinbangladesh.net/community/jscript/web/keyboard/main.js"></script>
<script type="text/javascript" src="http://www.somewhereinbangladesh.net/community/jscript/web/keyboard/bijoyunicode.js"></script>
<script type="text/javascript" src="http://www.somewhereinbangladesh.net/community/jscript/web/keyboard/phoneticunicode.js"></script>
<script type="text/javascript" src="http://www.somewhereinbangladesh.net/community/jscript/web/keyboard/bangla.js"></script>
<link rel="stylesheet" type="text/css" href="http://www.somewhereinbangladesh.net/community/jscript/web/keyboard/layout.css"/>
<script type="text/javascript">
  $(document).ready(function() {
    KeyboardOptions.debug = function() {}
    KeyboardOptions.startBanglaSupport();
  });
</script>

<%= javascript_include_tag 'jquery.ajaxify' %>
<script type="text/javascript">
  $('#edit_translation').parent().ajaxify({
    urlRef: false, autoButtonEnable: true, success: function(response) {
      $('#translationEditPanel').replace(response);
    }});
</script>
