body {
  font-family: verdana;
  font-size: 15px;
  background: #6CCAC7 url(/images/fresh/gradient_black_blue.png) repeat-x;
  margin: 0;
  padding: 0;
}

a {
  color: #0066cc;
  text-decoration: none !important;
}

a:hover {
  color: red !important;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

.space_5 {
  margin-bottom: 5px;
}

.space_10 {
  margin-bottom: 10px;
}

.align_right {
  text-align: right;
}

.break {
  border-top: 1px solid #ccc;
}

.site_message {
  background: lightYellow;
  padding: 5px;
  position: fixed;
  left: 40%;
  z-index: 2000;
  border: 2px solid #ccc;
}

/* Top style starts */
#site_top {

}

#site_logo {
  padding: 10px;
  margin-top: 40px;
  background: url(/images/promotion/reviewer-asif.png) no-repeat;
  background-position: 100% 100%;
  height: 300px;
}

#site_logo h1 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 25px;
}

#site_logo h4 {
  font-size: 15px;
  margin: 0;
  padding: 0;
  margin-top: -10px;
  text-transform: lowercase;
  font-style: italic;
  color: crimson;
  border-top: 2px solid red;
}

#site_top_navigation {
  text-align: center;
  font-size: 10px;
  color: #ccc;
  padding: 10px 10px 5px 10px;
  background: url(/images/fresh/site_top_nav_bg.png);
  position: fixed;
  z-index: 1000;
  width: 100%;
}

#site_top_navigation a {
  font-size: 15px !important;
  padding-left: 5px;
  padding-right: 5px;
  color: #fff;
}

#site_top_navigation a:hover {
  color: #fff;
}

#site_top_navigation a.fb_button {
  font-size: 11px !important;
  padding: 0 !important;
}

/* Top style ends */

/* Center style starts */
#site_center {
  margin-top: 30px;
  min-height: 500px;
}

.site_list_item {
  border-bottom: 1px solid #ccc;
  padding: 15px 15px 15px 0;
  margin-bottom: 10px;
  margin-top: 10px;
}

.site_list_item h4 {
  font-weight: normal;
  font-size: 15px;
  line-height: 10px;
  margin-bottom: 5px;
}

.site_list_item .summary {
  font-size: 10px;
  margin-top: 10px;
}

.site_list_item_rating {
  margin: 0;
  display: inline;
  font-weight: bold;
  font-size: 10px;
}

.tags {
  font-weight: bold;
}

.tags .tag {
  background: #f0f0f0;
  margin-left: 2px;
  margin-right: 2px;
  font-size: 12px;
  font-family: courier;
}

/* Center style ends */

/* right style starts */
.site_simple_box {
}

.site_simple_box h4 {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
}

.site_simple_box h6 {
  font-size: 12px;
  font-weight: normal;
}

.site_simple_box .site_list_item_rating {
  font-size: 8px;
}

.site_simple_box .item {
  margin: 5px;
}

.site_simple_box .break {
  border: 0;
  border-bottom: 1px solid #eee !important;
}

.tag_cloud {
  margin: 0;
  padding: 0;
}

.tag_cloud li {
  display: inline;
}

/* right style ends */

/* bottom style starts */
#site_bottom {
  background: #000 url(/images/fresh/gradient_white_black.png) repeat-x;
  color: #fff;
  width: 100%;
  margin-top: 30px;
  padding-bottom: 20px;
}

.grid_box {

}

.grid_box .item img {
  height: 40px;
  padding: 2px;
  border: 1px solid #ccc;
}

.grid_box .item {
  display: inline;
}

#site_bottom_navigation {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#site_bottom_navigation li {
  padding: 5px;
  margin-bottom: 5px;
  color: #fff;
  border-bottom: 1px dashed #fff;
}

#site_bottom_navigation li a {

}

/* bottom style ends */

.image_gallery {
  border: 1px solid #ccc;
  padding: 5px;
  width: 200px;
  background: #f0f0f0;
  float: right;
}

.image_gallery .large_image {
  width: 200px;
}

.image_gallery .image_preview {
  width: 200px;
}

.image_gallery .gallery_links {
  margin-top: 5px;
  text-align: center;
  background: #fff;
  padding: 4px;
}

.image_gallery .gallery_links a {
  margin-right: 2px;
  padding: 0;
  border: 0;
}

.image_gallery .gallery_links a img {
  border: 1px solid #ccc;
  padding: 2px;
  height: 30px;
}

.restaurant_details .review_tools {
  font-size: 12px;
  font-weight: bold;
}

.restaurant_details .review_tools a {
  color: crimson !important;
}

.restaurant_details h1 {
  font-size: 20px;
}

.reviews .review {
  padding: 5px;
  background: #f0f0f0;
  margin-bottom: 10px;
}

.date {
  font-size: 10px;
  font-style: italic;
  color: #aaa;
}

.reviews .review .content {
  max-height: 135px;
  overflow-y: hidden;
}

.review_form {
  padding: 5px;

}

.reviewOptions {
  float: left;
  font-size: 80%;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-top: 5px;
}

#review_submit {
  margin-top: 5px;
  float: right;
  border: 0;
  background: transparent;
  margin-right: -10px;
}

.image_preview {
  background: #f0f0f0;
  border: 1px solid #ccc;
  padding: 5px;
}

.image_preview .image {
  border: 1px solid #ccc;
  padding: 2px;
  text-align: center;
}

.image_preview .image img {
  height: 40px;
}

.image_preview .image .tools {
  background: #fff;
}

.group_buttons {
  padding: 2px;
  font-weight: bold;
}

.highlight {
  background: lightYellow;
  padding: 2px;
  font-style: italic;
  font-weight: bold;
}

.contributed_image_form form {
  background: #f0f0f0;
  padding: 5px;
}

.contributed_image_form h6 {
  font-size: 14px;
  color: #aaa;
}

.contributed_image_gallery .image {
  float: left;
  margin-right: 8px;
}

.contributed_image_gallery .image img {
  height: 40px;
}

.contributed_image_gallery .image .contributor {
  font-size: 10px;
  text-align: center;
}

.stat_item {
  padding: 0px 5px 5px 5px;
  margin-right: 3px;
}

.icon_review {
  background: url(/images/fresh/review.png) no-repeat;
  padding-left: 20px;
}

.icon_loved {
  background: url(/images/fresh/loved.png) no-repeat;
  padding-left: 20px;
}

.icon_hated {
  background: url(/images/fresh/hated.png) no-repeat;
  padding-left: 20px;
}

.image_small img {
  width: 30px;
  float: left;
  border: 1px solid #ccc;
  padding: 2px;
  margin-right: 5px;
  margin-left: -2px;
}

#site_center_list {
  padding-left: 35px;
}

.restaurant_details {
}

.site_icon_info {
  margin-top: 25px;
  font-size: 120%;
  line-height: 30px;
  color: #666666;
  font-family: verdana;
}

.site_icon_info b {
  color: #fff;
}

.site_icon_info {
  border: 0;
}

.site_body {

}

.site_center_head {
  background: url(/images/fresh/body-box-head.gif) no-repeat;
  height: 100px;
  margin-top: -17px;
}

.site_center_tail {
  background: url(/images/fresh/body-box-tail.gif) no-repeat bottom left;
  height: 100px;
}

#site_center {
  background: #fff;
  margin-top: -60px;
}

.navigation {
}

.site_quote {
  color: #ccc;
  margin-top: 8px;
  font-style: italic;
}

.site_item_even {
}

.restaurant_address address {
  padding: 8px 5px 8px 34px;
  background: lightYellow url(/images/fresh/address.png) no-repeat center left;
}

.small {
  font-size: 80%;
}

.facebook_connect_control {
  display: inline;
}

.facebook_connect_control form {
  margin: 0;
  padding: 0;
  display: inline;
}

.facebook_connect_control form div {
  display: inline;
}

.fieldWithErrors {
  display: inline;
}

.fieldWithErrors input {
  border: 2px solid red;
}

.formError {
  color: crimson;
  padding: 2px;
  display: inline;
}

.user_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.user_list li {
  float: left;
  width: 70px;
  margin: 0;
  padding: 0;
  text-align: center;
  padding: 5px;
  margin-top: 10px;
}

.fieldWithDefaultValue {
  color: #aaa;
}

.fieldSelected {
  color: #000;
}

.review_quote {
  background: lightYellow;
  padding: 5px;
  font-size: 10px;
  margin-top: 10px;
}

.review_comments {
  background: lightYellow;
  padding: 5px;
  border: 2px solid #ccc;
}

.review_comment {
  border-bottom: 1px dashed #ccc;
}

.review_comment img {
  width: 20px;
}

.review_comment_form textarea {
  width: 100%;
  height: 90px;

}

.edit_review textarea, .new_review textarea, .new_review_comment textarea {
  border: 1px solid #999999;
  height: 90px;
  max-height: 200px;
  min-height: 36px;
  width: 100%;
  padding: 3px;
}

.user_profile_brief {
  background: lightyellow;
  padding: 5px;
}

.user_profile_brief h4 {
  border-bottom: 1px dashed #ccc;
  margin-bottom: 5px;
}

.link_emp {
  color: red !important;
}

.link_emp:hover {
  color: #000 !important;
}

.errorExplanation {
  background: lightYellow;
  padding: 5px;
}

.errorExplanation p {
  font-style: italic;
  color: red;
}

.text_field {
  width: 500px;
  font-size: 20px;
  font-family: fantasy;
  padding: 5px;
}

.checkbox {
  padding: 5px;
}

.combobox {
  font-size: 20px;
  font-family: fantasy;
  padding: 5px;
}

.text_area {
  width: 500px;
}

.submit {
  font-family: fantasy;
  font-size: 20px;
  padding: 5px;
}

.tag_size_1 {
  font-size: 10px;
}

.tag_size_2 {
  font-size: 15px;
}

.tag_size_3 {
  font-size: 20px;
}

.tag_size_4 {
  font-size: 25px;
}

.tag_size_5 {
  font-size: 30px;
}

.tagcloud .tag {
  float: left;
  margin: 5px;
}

.stuff_event {
  float: left;
  margin: 20px 20px 20px 0;
  width: 240px;
  height: 250px
}

.stuff_event .image {
  border: 1px solid #ccc;
  background: #fff;
  width: 240px;
  overflow: hidden;
}

.stuff_event .info {
  font-size: 80%;
  font-weight: bold;
  text-align: right;
  font-style: italic;
  color: crimson;
}

.stuff_event img {
  padding: 10px;
  max-width: 220px;
  max-height: 250px;
}

.options_box {
  width: 500px;
}

.options_box .tagSearchField {
  width: 100%;
}

.options_box .tags {
  height: 100px;
  overflow-y: scroll;
  background: #ffffe0;
  border: 2px solid #d3d3d3;
}

.options_box .option {
  margin: 5px 5px 0 5px;
  float: left;
  font-weight: normal;
  font-size: 12px;
}

.associated_tags {
  font-size: 10px;
  margin-top: 10px;
}

.associated_tags a {
}

.big_picture_holder {
  text-align: center;

}

.big_picture img {
  max-width: 600px;
  border: 7px solid gray;
}

.big_picture_caption {
  margin: 10px;
  font-size: 80%;
}

.weeeFeatureBox {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.weeeFeatureBox li a .featureImage {
  float: left;
  max-width: 460px;
  margin-right: 20px;
  padding: 10px;
  border: 2px solid #ccc;
  background: #fff;
  margin-bottom: 20px;
}

.weeeFeatureBox .side-overlay {
  float: left;
  width: 400px;
}

.weeeFeatureBox .side-overlay p.description {
  line-height: 25px !important;
  font-size: 140%;
  font-family: monospace
}

.weeeFeatureBox .side-overlay .description {
  background: lightyellow;
  padding: 5px;
}

.weeeFeatureBox .side-overlay small {
  font-size: 80%;
  font-style: italic;
  color: #aaa;
  font-family: cursive;
}

.weeeFeatureBox .side-overlay h2 {
  font-size: 140%;
  margin-bottom: 10px;
  font-family: 'Tahoma'
}

.weeeFeatureBox .side-overlay .featureNav a.btnNext {
  position: absolute;
  top: 90px;
  left: 865px;
  padding: 10px;
  background: #fff;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  display: none;
}

.weeeFeatureBox .side-overlay .featureNav a.btnNext:hover {
  display: block;
}

.weeeFeatureBox .side-overlay .featureNav a.btnPrevious {
  position: absolute;
  top: 90px;
  left: 0px;
  background: #fff;
  padding: 10px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  display: none;
}

.weeeFeatureBox .side-overlay .featureNav a.btnPrevious:hover {
  display: block;
}

.weeeFeatureBox li {
  clear: both;
}

.border {
  border-bottom: 2px solid #ccc;
}

.grid_8 {
  width: 575px !important;
  padding-left: 35px !important;
}

.weeeFeatureBox .restaurant-rate {
  float: right;
  font-weight: bold;
  padding: 3px;
  font-size: 60%;
  font-style: italic;
  border-bottom: 1px solid red;
}

.logo {
  margin-left: 200px;
}

.bottom_box h4 {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

.hreview-aggregate, .vcard {
  display: none;
}

.admin_topics {
  margin: 10px;
}

.admin_topics .tags {
  margin-top: 20px;
  background: lightYellow;
  list-style-type: none;
}

.admin_topics .tags .tag {
  float: left;
  width: 200px;
  font-size: 80%;
  background: inherit;
  margin-bottom: 5px;
}

.recommendRestaurants {
  margin: 10px 10px 5px 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.recommendRestaurants select, .recommendRestaurants input {
  font-size: 120%;
}

.filter_box .tags {
  font-size: 80%;
}

.inlineTag {
  float: left;
}

.selectedTag {
  border-bottom: 2px solid red;
  font-size: 120%;
  font-weight: bold;
}

.translations {
  margin-left: 20px;
}

.translations textarea {
  width: 100%;
}

.emphasis {
  padding: 10px;
  border: 1px solid orange;
}

.emphasis * {
  font-size: 110%;
}

.formTable {

}

.formTable tr th {
  font-size: 70%;
  color: #888;
  text-align: left;
  padding: 0 5px;
}

.formTable tr td {
  padding: 5px;
}

.relatedImages {
  border: 1px solid #ccc;
  padding: 10px;
}

.relatedImages img {
  height: 50px;
}

.floatHeader {
  float: left;
}

.pageTools {
  float: left;
  margin-top: 5px;
  margin-left: 10px;
  font-size: 10px;
}

.pageTools a {
  color: darkred;
}

.breadcrumbs {
  font-size: 10px;
  color: #888;
  font-style: italic;
}

.bigImage {
  text-align: center;
}

.bigImage img {
  border: 10px solid #ccc;
  max-width: 550px;
}

.bigImageContainer .comments .form {
  background: lightYellow;
  padding: 10px;
}

.bigImageContainer .comments .form textarea {
  display: block;
  width: 100%;
  height: 70px;
}

.bigImageContainer .comments .avatar {
  float: left;
  width: 60px;
}

.bigImageContainer .comments .avatar .content {
  background: red;
  width: 538px;
}

.bigImageContainer .description {

}

.breadcrumbs a {
  color: #888;
  text-decoration: none;
}

.contentDetails {
  max-height: 200px;
  overflow-y: hidden;
}

.redBreak {
  border-bottom: 4px solid #f0f0f0;
}

.contentDetailsTools a {
  padding: 5px 10px;
  background: #f0f0f0;
  font-weight: bold;
  color: #999 !important;
}

.contentDetailsTools .readLess {
  border-color: #f0f0f0;
  border-style: solid;
  border-width: 0 1px 3px 3px;
  position: relative;
  top: 3px;
}

.restaurant_details {

}

.tagcloud {
  max-height: 200px;
  overflow-y: hidden;
}

form .hints {
  color: #888;
  font-style: italic;
}

.info {
  color: #888;
}

.similarRestaurant {
  margin-right: 5px;
  margin-bottom: 5px;
  float: left;
  width: 80px;
  padding: 5px;
  text-align: center;
  height: 85px;
  overflow: hidden;
}

.similarRestaurant a {
  color: #000 !important;
  font-weight: bold;
}

.similarRestaurant a:hover {
  color: #fff !important;
}

.similarRestaurant .picture img {
  border: 4px solid #fff;
  width: 50px;
}

.similarRestaurant .name {
  line-height: 15px;
  font-size: 70%;
}

.similarRestaurants {
  background: url(/images/fresh/quite_similar_bg.png) no-repeat;
  width: 572px;
  height: 152px;
}

.similarRestaurants h4 {
  display: none;
}

.similarRestaurants .restaurants {
  padding-top: 40px;
}

.loading {
  color: red;
}

#site_top_navigation span a {
  padding: 5px;
}

#site_top_navigation .topMenuSub {
  background: #fff;
  text-align: left;
  color: #172B2C;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

#site_top_navigation .topMenuSub ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding: 5px;
}

#site_top_navigation .topMenuSub ul li {
  padding: 5px;
  margin: 0;
}

#site_top_navigation .topMenuSub ul li a {
  color: #172B2C;
}

#site_top_navigation .topMenuSub ul li a:hover {
  color: #ccc !important;
}

#site_top_navigation a.menuSel {
  background: #fff url("/images/fresh/downarrow.png") no-repeat scroll right center;
  color: #ccc;
  padding-bottom: 10px;
  padding: 10px;
  padding-right: 17px !important;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.submenu {
  background: url("/images/fresh/downarrow.png") no-repeat scroll right center transparent;
  padding: 10px;
  padding-right: 17px !important;
  padding-bottom: 10px;
}

/* Best for box */
.bestForBox {
  margin: 0 30px;
}

.bestForBox .bestForNav {
  text-align: left;
  margin: 0 auto;
  margin-bottom: 5px;
  padding: 10px 5px;
  background: #ccc;
}

.bestForBox .bestForNav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.bestForBox .bestForNav ul li.selected {
  background: #888;
  color: #fff;
  font-weight: bold;
  z-index: 400;
}

.bestForBox .bestForNav ul li {
  background: none repeat scroll 0 0 #CCCCCC;
  color: #FFFFFF;
  cursor: pointer;
  padding: 5px 10px;
  border: 4px solid #ccc;
  border-right: 0;
  font-size: 12px;
  display: inline;
  margin: 0 !important;
}

.bestForBox .bestForNav ul li:hover {
  background: #888;
  color: #fff;
  z-index: 400;
}

.bestForBox .bestForContainer {
  border: 1px solid #CCCCCC;
  clear: both;
  height: 376px;
  overflow-y: auto;
  padding: 10px;
  z-index: 200;
}

.bestForBox .bestForContainer .site_list_item {
  padding-left: 10px;
  border: 0;
}

.bestForBox .bestForContainer .site_list_item  a {
  color: #666666;
}

.bestForBox .bestForContainer .site_list_item  .associated_tags {
  color: #333333;
}

.bestForBox .bestForContainer .site_list_item img {
  border: 4px solid #fff;
}

.floatingButtons {
  margin-bottom: 10px;
  background: red;
  border: 1px solid yellow;
  padding: 5px;
  position: fixed;
  left: 65%;
  top: 75%;
}

.floatingButtons input {
  font-size: 20px;
  padding: 5px;
}

.bestForItem {
  border-bottom: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;
  float: left;
  height: 100px;
  margin-bottom: 10px;
  margin-right: 5px;
  padding: 0;
  overflow-y: hidden;
  padding-left: 5px;
}

.bestForItem small {
  font-size: 12px;
  color: #000;
}

.bestForItem img {
  margin-top: 5px;
}

.bestForItem .info {
  float: left;
  width: 200px;
  font-size: 12px;
}

.bestForBox .info .stat {
  font-size: 10px;
  font-weight: bolder;
  color: red;
  margin-bottom: 5px;
}

.geoSearchFields {
  position: absolute;
  /*top: 60px;*/
  left: -100%;
  background: lightyellow;
  padding: 5px;
  border: 2px solid #ccc;
  z-index: 1000;
  width: 570px;
}

#geoSearchMap {
  color: #000;
}

#site_top_navigation .topicSelectionBox {
  width: 120px;
}

.add_block {
  background: url("/images/fresh/ad_marker.png?d") no-repeat scroll 30px 0 transparent;
  padding-top: 15px;
}

.searchIcon {
  background: url("/images/fresh/search_icon.png") no-repeat scroll 2px 2px #FFFFFF;
  padding: 2px 2px 2px 20px;
}

a.link, .ui-widget-content a.link {
  color: #0066CC;
}

.add_comment_link {
  color: #0066cc;
  font-weight: bold;
}

.event_banner {
  text-align: center;
}