body {
  font-family: verdana;
  font-size: 15px;
  background: lightgreen;
  margin: 0;
  padding: 0;
}

a {
  color: #0066cc!important;
  text-decoration: none!important;
}

a:hover {
  color: red!important;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

.space_5 {
  margin-bottom: 5px;
}

.space_10 {
  margin-bottom: 10px;
}
.align_right {
  text-align: right;
}
.break {
  border-top: 1px solid #ccc;
}

.site_message {
  background: lightYellow;
  padding: 5px;
  position: fixed;
  left: 40%;
  z-index: 100;
}

/* Top style starts */
#site_top {
  
}

#site_logo {
  padding: 10px;
}

#site_logo h1 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 25px;
}
#site_logo h4 {
  font-size: 15px;
  margin: 0;
  padding: 0;
  margin-top: -10px;
  text-transform: lowercase;
  font-style: italic;
  color: crimson;
  border-top: 2px solid red;
}

#site_top_navigation {
  text-align: right;
  font-size: 10px;
  color: gray;
  padding: 10px;
  border-bottom: 4px solid #fff;
}

#site_top_navigation a {
  font-size: 15px!important;
  padding-left: 5px;
  padding-right: 5px;
  color: crimson !important;
}

#site_top_navigation a:hover {
  color: #fff!important;
}

/* Top style ends */

/* Center style starts */
#site_center {
  margin-top: 30px;
}

.site_list_item {
  border-bottom: 1px solid #ccc;
  padding: 15px 15px 15px 0;
  margin-bottom: 10px;
  margin-top: 10px;
}

.site_list_item h4 {
  font-weight: normal;
  font-size: 15px;
  line-height: 10px;
  margin-bottom: 5px;
}

.site_list_item .summary {
  font-size: 10px;
  margin-top: 10px;
}

.site_list_item_rating {
  margin: 0;
  display: inline;
  font-weight: bold;
  font-size: 10px;
}
.tags {
  font-weight: bold;
}
.tags .tag {
  background: #f0f0f0;
  margin-left: 2px;
  margin-right: 2px;
  font-size: 12px;
  font-family: courier;
}
/* Center style ends */

/* right style starts */
.site_simple_box {
}
.site_simple_box h4 {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
}

.site_simple_box h6 {
  font-size: 12px;
  font-weight: normal;
}

.site_simple_box .site_list_item_rating {
  font-size: 8px;
}

.site_simple_box .item {
  margin: 5px;
}

.site_simple_box .break {
  border: 0;
  border-bottom: 1px solid #eee!important;
}

.tag_cloud {
  margin: 0;
  padding: 0;
}

.tag_cloud li {
  display: inline;
}
/* right style ends */

/* bottom style starts */
#site_bottom {
  background: #3B3630 url(/images/fresh/bottom_bg.gif) repeat-x;
  color: #fff;
  width: 98.6%;
  margin-top: 30px;
  padding: 10px;
}

.grid_box {
  
}
.grid_box .item img {
  height: 40px;
  padding: 2px;
  border: 1px solid #ccc;
}
.grid_box .item {
  display: inline;
}

#site_bottom_navigation {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#site_bottom_navigation li {
  padding: 5px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
}
/* bottom style ends */

.image_gallery {
  border: 1px solid #ccc;
  padding: 5px;
  width: 200px;
  background: #f0f0f0;
  float: right;
}

.image_gallery .large_image {
  width: 200px;
}

.image_gallery .image_preview {
  width: 200px;
}

.image_gallery .gallery_links {
  margin-top: 5px;
  text-align: center;
  background: #fff;
  padding: 4px;
}

.image_gallery .gallery_links a {
  margin-right: 2px;
  padding: 0;
  border: 0;
}

.image_gallery .gallery_links a img {
  border: 1px solid #ccc;
  padding: 2px;
  height: 30px;
}

.restaurant_details .review_tools {
  font-size: 12px;
  font-weight: bold;
}

.restaurant_details .review_tools a {
  color: crimson!important;
}

.reviews .review {
  padding: 5px;
  background: #f0f0f0;
  margin-bottom: 10px;
}

.reviews .review .date {
  font-size: 10px;
  font-style: italic;
  color: #aaa;
}

.reviews .review .content {
}

.review_form {
  padding: 5px;
  border: 1px solid #ccc;
  background: #f0f0f0;
}

.image_preview {
  background: #f0f0f0;
  border: 1px solid #ccc;
  padding: 5px;
}
.image_preview .image {
  border: 1px solid #ccc;
  padding: 2px;
  text-align: center;
}
.image_preview .image img {
  height: 40px;
}
.image_preview .image .tools {
  background: #fff;
}

.group_buttons {
  padding: 2px;
  font-weight: bold;
}

.highlight {
  background: lightYellow;
  padding: 2px;
  font-style: italic;
}

.contributed_image_form form {
  background: #f0f0f0;
  padding: 5px;
}

.contributed_image_form h6 {
  font-size: 14px;
  color: #aaa;
}

.contributed_image_gallery .image {
  float: left;
  margin-right: 8px;
}

.contributed_image_gallery .image img {
  height: 40px;
}

.contributed_image_gallery .image .contributor {
  font-size: 10px;
  text-align: center;
}
.stat_item {
  padding: 0px 5px 5px 5px;
  margin-right: 3px;
}

.icon_review {
  background: url(/images/fresh/review.png) no-repeat;
  padding-left: 20px;
}

.icon_loved {
  background: url(/images/fresh/loved.png) no-repeat;
  padding-left: 20px;
}

.icon_hated {
  background: url(/images/fresh/hated.png) no-repeat;
  padding-left: 20px;
}

.image_small img {
  width: 30px;
  float: left;
  border: 1px solid #ccc;
  padding: 2px;
  margin-right: 5px;
  margin-left: -2px;
}

#site_center_list {
  
}

.restaurant_details {
  ;
}

.site_icon_info {
  margin-top: 25px;
  font-size: 18px;
}

.site_icon_info {
  border: 0;
}

.site_body {

}

.site_center_head {
  background: url(/images/fresh/body-box-head.gif) no-repeat;
  height: 100px;
  margin-top: -17px;
}

.site_center_tail {
  background: url(/images/fresh/body-box-tail.gif) no-repeat bottom left;
  height: 100px;
}

#site_center {
  background: #fff;
  margin-top: -60px;
}

.navigation {
  background: #000;
}

.site_quote {
  color: #ccc;
  margin-top: 8px;
  font-style:italic;
}

.site_item_even {
}

.restaurant_address address {
  padding: 8px 5px 8px 34px;
  background: lightYellow url(/images/fresh/address.png) no-repeat center left;
}

.small {
  font-size: 80%;
}

.facebook_connect_control {
  display: inline;
}
.facebook_connect_control form {
  margin: 0;
  padding: 0;
  display: inline;
}

.facebook_connect_control form div {
  display: inline;
}

.fieldWithErrors {
  display: inline;
}

.fieldWithErrors input {
  border: 2px solid red;  
}

.formError {
  color: crimson;
  padding: 2px;
  display: inline;
}