<div class="grid_12">
  <h4><%= link_to 'Administration panel', admin_url %> &raquo; Edit topic</h4>
  <div class="break"></div>

  <%= link_to 'Manage topics', topics_url %>
  <div class="clear"></div>
  <div class="break"></div>
  <div class="space_10"></div>

  <div class='admin_topic_new'>
    <% form_for @topic_object do |f| %>
      <%= render :partial => 'topics/parts/form', :locals => {:f => f} %>
      <div class="clear"></div>
      <div class="space_5"></div>
      <div class="break"></div>
      <div class="space_5"></div>

      <label class="grid_6 align_right">
        <%= f.submit 'Update' %>
      </label>
    <% end %>
  </div>
</div>