<div class="grid_12">
  <h1>Import will override all configurations for topic - <%= @topic_object.name %></h1>
  <div class='break'></div>
  <%= render :partial => 'topics/navigation' %>
  <div class='break'></div>


  <div class='space_10'></div>

  <% form_tag import_uploaded_file_topic_path(@topic_object.id), :multipart => true do %>
    <label>Upload file</label>
    <input type='file' name='file'/><input type='submit' value='Import'/>
  <% end %>
  <div class='space_10'></div>
</div>