<div id="main" class="grid_8">

  <a name="TemplateInfo"></a>

  <h2><a href="index.html">Lorem Ipsum Dolor Sit Amet</a></h2>

  <p><a href="http://getfirefox.com/"><img
      src="{{ asset_path }}images/firefox-gray.jpg" width="100" height="120"
      alt="firefox" class="float-left"/></a>
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero.
    Suspendisse bibendum.
    Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis
    varius lorem, eu
    posuere nunc justo tempus leo. Donec mattis, purus nec placerat bibendum,
    dui pede condimentum
    odio, ac blandit ante orci ut diam. Cras fringilla magna. Phasellus
    suscipit, leo a pharetra
    condimentum, lorem tellus eleifend magna, eget fringilla velit magna id
    neque. Curabitur vel urna.
    In tristique orci porttitor ipsum. Lorem ipsum dolor sit amet, consectetuer
    adipiscing elit. Donec libero. Suspendisse bibendum.
    Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis
    varius lorem, eu
    posuere nunc justo tempus leo.
  </p>

  <div class="clear">&nbsp;</div>

  <div class="grid_4 alpha">

    <h3>Lorem Ipsum Dolor Sit Amet</h3>

    <p>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero.
      Suspendisse bibendum.
      Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis
      varius lorem, eu
      posuere nunc justo tempus leo. Donec mattis, purus nec placerat bibendum,
      dui pede condimentum
      odio, ac blandit ante orci ut diam. Cras fringilla magna. Phasellus
      suscipit, leo a pharetra
      condimentum, lorem tellus eleifend magna, eget fringilla velit magna id
      neque. Curabitur vel urna.
      In tristique orci porttitor ipsum. Lorem ipsum dolor sit amet,
      consectetuer adipiscing elit. Donec libero. Suspendisse bibendum.
      Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis
      varius lorem, eu
      posuere nunc justo tempus leo.
    </p>


    <p><a class="more-link" href="index.html">continue reading</a></p>

  </div>

  <div class="grid_4 omega">

    <h3>Lorem Ipsum Dolor Sit Amet</h3>

    <p>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero.
      Suspendisse bibendum.
      Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis
      varius lorem, eu
      posuere nunc justo tempus leo. Donec mattis, purus nec placerat bibendum,
      dui pede condimentum
      odio, ac blandit ante orci ut diam. Cras fringilla magna. Phasellus
      suscipit, leo a pharetra
      condimentum, lorem tellus eleifend magna, eget fringilla velit magna id
      neque. Curabitur vel urna.
      In tristique orci porttitor ipsum. Lorem ipsum dolor sit amet,
      consectetuer adipiscing elit. Donec libero. Suspendisse bibendum.
      Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis
      varius lorem, eu
      posuere nunc justo tempus leo.
    </p>

    <p><a class="more-link" href="index.html">continue reading</a></p>

  </div>


  <!-- main ends -->
</div>