:ruby
   attached_options = defined?(attached_options) ? attached_options : {}
   model_instance = defined?(restaurant) ?
     restaurant : (defined?(topic_event) ?
       topic_event : (@restaurant || @event))
   model_name = model_instance.class.name.underscore.to_sym


= render :partial => 'reviews/parts/form',
         :locals => { model_name => model_instance,
                      :attached_options => attached_options }