.wrapper {
  background: #6CCAC7 url('/images/fresh/gradient_black_blue.png') repeat-x;
  padding: 40px;
}

.mailLogo {
  border-right: 1px solid #888;
  width: 280px;
  float: left;
}

.mailTag {
  font-size: 30px;
  float: left;
  color: #888;
  font-family: serif;
  font-style: italic;
  margin-left: 20px;
  width: 100px;
}

.mailContent {
  background: #fff;
  padding: 20px;
  margin-top: 20px;
}

.mailContent h1 {
  font-size: 150%;
  margin-top: 0;
}

.mailContent h4 {
  background: none repeat scroll 0 0 lightGoldenRodYellow;
  border: 1px solid orange;
  margin: 0;
  padding: 5px;
}

.mailContent blockquote {
  color: #858585;
  font-size: 120%;
  line-height: 20px;
  margin-left: 0;
  padding-left: 20px;
}

h3 {
  border-bottom: 1px solid #ccc;
  color: #888;
}

.restaurant {
  margin-right: 20px;
}

.restaurant .image {
  float: left;
  width: 70px;
  margin-right: 10px;
}

.restaurant .content {
  float: left;
  width: 100px;
}

.clear {
  clear: both;
}

.space_10 {
  margin-top: 10px;
}

.break {
  border-bottom: 1px solid #ccc;
}

.site_list_item {
  padding: 10px;
}

.site_list_item h4 {
  margin-bottom: 5px;
  font-size: 130%;
}

.site_list_item .grid_1 {
  float: left;
  width: 60px;
  margin-right: 10px;
}

h4 {
  margin: 0;
  padding: 0;
}

.site_list_item .grid_6 {
  float: left;
  width: 500px;
}

.mailActions {
  background: lightYellow;
  padding: 10px;
  border: 1px solid orange;
}

a img {
  border: 0;
}
