<div class="grid_12">
  <h4>Change your account password</h4>
  <blockquote>
    Set your new password, if you find any problem let us know at
    <a href='mailto:support@welltreat.us'>support@welltreat.us</a>
  </blockquote>

  <form action="<%= save_new_password_url %>" method="POST">
    <input type='hidden' name="authenticity_token" value="<%= form_authenticity_token %>"/>
    <input type='hidden' name='token' value="<%= @token %>"/>
    <input type="password" name='password' value="Enter password" class="fieldWithDefaultValue fieldPass"/>
    <input type="password" name='confirm_password' value="Confirm password" class="fieldWithDefaultValue fieldConfPass"/>
    <input type='submit' value="Change password"/>
  </form>
  
</div>

<script type="text/javascript">
  App.UI.detectFieldWithDefaultValue('Enter password', 'fieldPass', true);
  App.UI.detectFieldWithDefaultValue('Confirm password', 'fieldConfPass', true);
</script>