<div class="grid_12">
  <h4>Reset your account password</h4>
  <blockquote>
    Please remember, we will send you an email with the password reset link.
    if you have problem with your email account you can inform us at
    <a href='mailto:support@welltreat.us'>support@welltreat.us</a>
  </blockquote>

  <form action="<%= process_reset_password_url %>" method="POST">
    <input type='hidden' name="authenticity_token" value="<%= form_authenticity_token %>"/>
    <input type="text" name='email' value="Enter your email address" class="fieldWithDefaultValue"/>
    <input type='submit' value="Reset password"/>
  </form>
</div>

<script type="text/javascript">
  App.UI.detectFieldWithDefaultValue('Enter your email address');
</script>