<% images = @restaurant.images %>
<% if !images.empty? %>
  <%
     images = images.shuffle
     first_image = images.first
  %>
  <div class="image_gallery">
    <%= link_to(image_tag(first_image.public_filename(:large),
                          :class => 'large_image',
                          :alt => 'N/A'),
                "#{root_url}#{first_image.public_filename(:very_large)}",
                :title => first_image.caption,
                :rel => 'prettyPhoto[gallery]') %>
    
    <% rest_images = images[1..images.length] %>
    <% if !rest_images.empty? %>
      <div class="gallery_links">
        <% rest_images.each do |image| %>
          <%= link_to(image_tag(image.public_filename(:small),
                                :alt => 'N/A'),
                      "#{root_url}#{image.public_filename(:very_large)}",
                      :rel => 'prettyPhoto[gallery]',
                      :title => image.caption) %>
        <% end %>
      </div>
    <% end %>
  </div>

  <script type="text/javascript">
    $(document).ready(function(){
      $(".image_gallery a").prettyPhoto();
    });
  </script>
<% end %>