<%
   images = @restaurant.related_images.by_group(nil).collect(&:image)
%>
<% if !images.empty? %>
  <%
     images = images.shuffle
     first_image = images.first
  %>
  <div class="image_gallery">
    <%= link_to(image_tag(first_image.public_filename(:large),
                          :class => 'large_image',
                          :alt => 'N/A'),
                image_url(first_image.id, :d => true),
                :title => first_image.caption) %>
    
    <% rest_images = images[1..images.length] %>
    <% if !rest_images.empty? %>
      <div class="gallery_links">
        <% rest_images.each do |image| %>
          <%= link_to(image_tag(image.public_filename(:small),
                                :alt => 'N/A'),
                      image_url(image.id, :d => true),
                      :title => image.caption) %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>