#site_center_list.box 
  = render_breadcrumbs()
  
  .break.space
  .content
    - @restaurants.each_with_index do |restaurant, index|
      = render :partial => 'restaurants/parts/restaurant', 
               :locals => {:restaurant => restaurant, :index => index}
    .clear
    .space
    .pagination= will_paginate @restaurants
    .space