<div class="grid_8" id="site_center_list">
  <h4>Recently added restaurants!</h4>
  <div class="break space_5"></div>
  <% @restaurants.each_with_index do |restaurant, index| %>
    <%= render :partial => 'restaurants/parts/restaurant', :locals => {:restaurant => restaurant, :index => index} %>
  <% end %>
</div>

<div class="grid_4" id="site_center_boxes">
  <%= render_most_lovable_places(5) %>
</div>