<% right_off = defined?(right_off) ? right_off : false %>

<div class="grid_8" id="site_center_list">
  <div class="grid_5" id='site_content_area'>
    <%= render :partial => 'home/parts/search_content' %>
  </div>

  <div class="grid_3" style="width: 200px">
    <%= render :partial => 'home/parts/filters' %>
    <div class="clear"></div>
    <div class='space_10'></div>
  </div>
</div>

<% if !right_off %>
  <div class="grid_4" id="site_center_boxes">
    <%= render :partial => 'layouts/fresh_parts/modules' %>
  </div>

  <%= javascript_include_tag 'jquery.ajaxify' %>
  <script type="text/javascript">
    $('#searchResultsFilterBox').ajaxify();
  </script>
<% end %>

<div class='clear'></div>

<script type='text/javascript'>
  (function() {
    var timer = null;

    function showOrHide($el, show) {
      var $hiddenStuffs = $('#' + $el.attr('id') + '_hidden_stuffs');
      if (show) {
        $el.removeClass('rowHover').addClass('rowHover');
        $hiddenStuffs.show();

        if (timer) {
          clearTimeout(timer);
        }
        timer = setTimeout(function() {
          $el.removeClass('rowHover');
          $hiddenStuffs.fadeOut();
        }, 6000);
      } else {
        if (timer) {
          clearTimeout(timer);
        }

        timer = setTimeout(function() {
          $el.removeClass('rowHover');
          $hiddenStuffs.fadeOut();
        }, 1000);
      }
    }

    $('#site_center_list .site_list_item').each(function() {
      var $item = $(this);
      $item.bind('mouseover', function(e) {
        showOrHide($(this), true);
      });

      $item.bind('mouseout', function(e) {
        showOrHide($(this), false);
      });
    });
  })();
</script>

