<div class='bestForBox'>
  <h4><%= tt('header.best_for') %></h4>

  <div class='break'></div>
  <div class='space_10'></div>
  <% @best_for_tags.each_with_index do |tag, index| %>
    <div class="grid_3">
      <%= render :partial => 'restaurants/parts/lovable_places', :locals => {
          :more_link   => tag_details_path('-', url_escape(tag.name)),
          :config      => {:label => "#{tag.name}"},
          :restaurants => tag.most_loved_restaurants(5)}
      %>
    </div>
  <% end %>


  <div class='clear'></div>
</div>
<div class='clear'></div>
<div class='space_10'></div>
