<span class="stat_item icon_review">
  <%= t('label.reviews_count', :count => total_reviews_count) %>
</span>
<span class="stat_item icon_loved">
  <%= t('label.loves_count', :count => loved_count) %>
</span>