<%
   links = []
   if defined?(checkins_count)
     links << "<span class='stat_item icon_checkin'><acronym title='Checkins'>#{checkins_count}</acronym></span>"
   end

   if defined?(total_reviews_count)
     links << "<span class='stat_item icon_review'><acronym title='Reviews'>#{total_reviews_count}</acronym></span>"
   end

   if defined?(loved_count)
     links << "<span class='stat_item icon_loved'><acronym title='Loves'>#{loved_count}</acronym></span>"
   end
%>

<%= links.join(' ') %>