<span class="stat_item icon_review">
  <i class="UIImageBlock_Image UIImageBlock_ICON_Image img spritemap_5azbqq sx_341a9a"></i>
  <%= t('label.reviews_count', :count => total_reviews_count)%>

</span>
<span class="stat_item icon_loved">
  <i title="Click here to like this item" class="img spritemap_5azbqq sx_f7df39"></i>
  <%= t('label.loves_count', :count => loved_count)%>
</span>