<% if !reviews.empty? %>
  <div class="site_simple_box">
    <h4><%= title %></h4>
    <div class="space_10"></div>

    <% reviews.each_with_index do |review, index| %>
      <div>
        <% if review.user.image %>
          <%= link_to image_tag(review.user.image.public_filename(:very_small),
                      :height => '20px', :alt => 'n/a'), "#",
                      :class => 'image_small',
                      :title => "#{review.user.login}" %>
        <% else %>
          <%= link_to(image_tag('fresh/user.png', :width => '20px'), '', :class => 'image_small') %>
        <% end %>
      </div>
    <% end %>
    <div class="clear"></div>
    <div class="small">
      <%= link_to 'see all interested people &raquo;', more_link %>
    </div>
    <br/>
  </div>
<% end %>