<% if !reviews.empty? %>
  <div class="site_simple_box">
    <h4><%= tt("module.#{title}") %></h4>
    <div class="space_10"></div>

    <% reviews.each_with_index do |review, index| %>
      <div>
        <% if review.user.image %>
          <%= link_to image_tag(review.user.image.public_filename(:very_small),
                      :height => '20px', :alt => 'n/a'),
                      user_long_url(:id => review.user.id,
                                    :login => review.user.login),
                      :class => 'image_small',
                      :title => "#{review.user.login}" %>
        <% else %>
          <%= link_to(image_tag('fresh/user.png', :width => '20px'),
                      user_long_url(:id => review.user.id,
                                    :login => review.user.login),
                      :class => 'image_small') %>
        <% end %>
      </div>
    <% end %>
    <div class="clear"></div>
    <div class="small">
      <%= link_to tt('nav.interested_people'), more_link %>
    </div>
    <br/>
  </div>
<% end %>