<h1>Create new restaurant</h1>
<div class="break"></div>

<% form_for @restaurant do |f| %>
  <%= render :partial => 'restaurants/parts/form', :locals => {:f => f} %>
  <%= f.submit 'create' %>
<% end %>
