#fb-root
- if params[:no_script].nil?
  %script{:src => "http://connect.facebook.net/en_US/all.js"}
  :javascript
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '#{fb_connect_key}',
        status     : true,
        cookie     : true,
        xfbml      : true,
        oauth      : true,
      });

      if (typeof(window.fbDontInvokeCallback) == 'undefined') {
        window.fireAfterFbInitiatedCallbacks();
      }
    };

    var mFbAfterCallbacks = [];
    window.fbBindAfterInit = function(callback) {
      mFbAfterCallbacks.push(callback);
    };

    window.fireAfterFbInitiatedCallbacks = function() {
      for (var i = 0; i < mFbAfterCallbacks.length; i++) {
        mFbAfterCallbacks[i]();
      }
    };
    (function(d){
       var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
       js = d.createElement('script'); js.id = id; js.async = true;
       js.src = "//connect.facebook.net/en_US/all.js";
       d.getElementsByTagName('head')[0].appendChild(js);
     }(document));

  :javascript
    var fbLoggedIn = function() {
      App.Facebook = {
        UID: null,
        SID: null,
        API: null,
        SESSION: null
      }

      App.Facebook.Events = {
        onloggedin: function(session) {
          if (session) {
            var uid = App.Facebook.UID = session.userID;
            $.get('#{facebook_connect_update_url}&t=' + new Date().getTime(), {
            'uid': uid, 'sid': session.accessToken });
          }
        },

        onloggedout: function() {
          $.get('#{facebook_connect_update_url}', {'sid': ''});
        }
      }

      FB.getLoginStatus(function(r) {
        if (r && r.status == 'connected') {
          App.Facebook.Events.onloggedin(r.authResponse);
        } else {
          App.Facebook.Events.onloggedout();
        }
      });

      FB.Event.subscribe('auth.statusChange', function(response) {
        if (response && response.status == 'connected') {
          App.Facebook.Events.onloggedin(response.authResponse);
        } else {
          App.Facebook.Events.onloggedout();
        }
      });
    };

    var fbNotLoggedIn = function () {
      FB.Event.subscribe('auth.statusChange', function(response) {
        if (response.status == 'connected' && response.authResponse) {
          var session = response.authResponse;
          var locationParts = location.href.split('#');
          if (!locationParts[0].match(/.+_logout/i)) {
            $.get("#{fb_login_path}?t=" + new Date().getTime(), {
              fskey: session.accessToken,
              fuid: session.userID,
              fexpires: session.expiresIn,
              fsecret: session.signedRequest,
              fat: session.accessToken
            });
          }
        }
      });
    };


    $('#site_top_navigation .navButton a[href*="records/new"]').
      whenElementAvailable( fbLoggedIn, fbNotLoggedIn );

