#fb-root
- if params[:no_script].nil?
  %script{:src => "http://connect.facebook.net/en_US/all.js"}
  :javascript
    FB.init({
      appId: '#{@topic.fb_connect_key.blank? ? Facebooker.api_key : @topic.fb_connect_key}',
      status: true, cookie: true, xfbml: true
    });

  - if !logged_in?
    :javascript
      FB.Event.subscribe('auth.sessionChange', function(response) {
        if (response.session) {
          var locationParts = location.href.split('#');
          window.location = locationParts[0] +
            (locationParts[0].match(/\?/) ? '&' : '?') + "fskey=" +
              response.session.session_key + "&fuid=" +
              response.session.uid + '&fexpires=' +
              response.session.expires + '&fsecret=' +
              response.session.secret + '&fat=' +
              response.session.access_token;
        }
      });

  - else
    :javascript
      $(function() {
        App.Facebook = {
          UID: null,
          SID: null,
          API: null,
          SESSION: null
        }

        App.Facebook.Events = {
          onloggedin: function(session) {
            if (session) {
              var uid = App.Facebook.UID = session.uid;
              $.get('#{facebook_connect_update_url}&t=' + new Date().getTime(), {
              'uid': uid, 'sid': session.access_token });
            }
          },

          onloggedout: function() {
            $.get('#{facebook_connect_update_url}', {'sid': ''});
          }
        }

        FB.getLoginStatus(function(r) {
          if (r.session) {
            App.Facebook.Events.onloggedin(r.session);
          } else {
            App.Facebook.Events.onloggedout();
          }
        });

        FB.Event.subscribe('auth.sessionChange', function(response) {
          if (response.session) {
            App.Facebook.Events.onloggedin(response.session);
          } else {
            App.Facebook.Events.onloggedout();
          }
        });
      })
