<% contributed_images = @restaurant.other_images %>

<% if contributed_images && !contributed_images.empty? %>
  <div class="clear"></div>
  <div class="space_10"></div>

  <div class="contributed_image_gallery">
    <h6><%= t('subheader.contributed_images') %></h6>
    <div class="break"></div>
    <div class="space_10"></div>
    <% contributed_images.each do |image| %>
      <div class="image">
        <%= link_to(image_tag(image.public_filename(:small), :alt => ''),
                    image_url(image),
                    :rel => 'prettyPhoto[contributedGallery]',
                    :class => 'pic_link',
                    :title => image.caption) %>
        <div class="contributor">
          <%= link_to image.user.login, user_long_url(image.user) %>
        </div>
      </div>
    <% end %>
  </div>

<% end %>