<% contributed_images = @restaurant.other_images %>

<% if contributed_images && !contributed_images.empty? %>
  <div class="clear"></div>
  <div class="space_10"></div>

  <div class="contributed_image_gallery">
    <h6>User contributed image<%= contributed_images.length > 1 ? 's' : '' %></h6>
    <div class="break"></div>
    <div class="space_10"></div>
    <% contributed_images.each do |image| %>
      <div class="image">
        <%= link_to(image_tag(image.public_filename(:small), :alt => ''), image.public_filename(:very_large),
                    :rel => 'prettyPhoto[contributedGallery]',
                    :class => 'pic_link',
                    :title => image.caption) %>
        <div class="contributor">
          <%= link_to image.user.login, '#' %>
        </div>
      </div>
    <% end %>
  </div>

  <script type="text/javascript">
    $(document).ready(function(){
      $(".contributed_image_gallery .image .pic_link").prettyPhoto();
    });
  </script>
<% end %>