.stat_item {
  acronym {
    text-decoration: none;
  }
}

.highlight {
  background: lightYellow;
  padding: 2px;
  border-top: 1px solid #ccc;
}

.message {
  background: #f0f0f0;
  border: 1px solid #ccc;
  padding: 3px;
  color: #888;
  font-size: 70%;
}

.wrapper {
  margin-left: -5px;
  margin-right: -5px;
  margin-top: -5px;
  margin-bottom: 10px;
  background: #fff;

  .add_box_shadow(10px, #000);
}

.errorExplanation {
  background: lightYellow;
  border: 1px solid orange;
  margin: 5px;
  padding: 5px;
  font-size: 80%;

  .add_round_corner();

  ul li {
    color: red;
  }
}

.margin {
  margin: 5px;
}