.include-cell-num() {
  .cellNum {
    padding: 5px;
    font-size: 110%;

    .add_round_corner();

    .key {
      display: inline;
      font-weight: bold;
      margin-right: 10px;
      background: #f0f0f0 url("/images/icons/dryicons/icon_phone.png") no-repeat scroll 5px center;
      padding-left: 25px;
    }

    .value {
      display: inline;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

.include-heading() {
  h1 {
    color: orange;
    font-size: 160%;
    .add_text_shadow();
  }
}

.include-user-status() {
  .userStatusBox {
    background: none repeat scroll 0 0 #F0F0F0;
    display: block;
    width: 95%;

    .header {
      color: #888;
      margin-bottom: 3px;
    }

    .boxItem {
       float: left;
       padding: 5px;
       background: #fff;
       text-align: center;
       margin-right: 5px;
       font-size: 80%;

       .add_round_corner();
       .add_box_shadow();

       .label {
         font-size: 80%;
       }

       .value {
        font-size: 140%;
        font-weight: bold;
        font-family: "comic Sans MS";
       }
    }

    .blockBorder {
    }
  }
}

.include-restaurant-status() {
  .restaurantStatus {
    background: none repeat scroll 0 0 #F0F0F0;
    display: block;
    padding: 5px;
    width: 95%;

    .block {
       float: left;
       padding: 5px;
       background: #fff;
       text-align: center;
       margin-right: 5px;
       .add_round_corner();
       .add_box_shadow();

       .label {
         font-size: 80%;
       }

       .value {
        font-size: 140%;
        font-weight: bold;
        font-family: "comic Sans MS";
       }
    }

    .blockBorder {
    }
  }
}

.include-top-bar() {
  .topBar {
    width: 100%;

    td {
      vertical-align: top;
      .include-common-image-style();
    }
  }
}

.include-review-form() {
  .review_form {
    .include-absolute-panel();

    .reviewHeader {
      font-size: 80%;
    }

    select {
      padding: 5px;
    }

    textarea {
      width: 100%;
      height: 40px;
    }

    button {
      width: 100%;
      border: 0;
    }
  }

}

.include-image-container() {
  .imageContainer {
    padding: 5px;
    background: #f0f0f0;
    text-align: center;

    .add_round_corner();
    .add_box_shadow();

    a {
      border: none;
    }

    h4 {
      background: none repeat scroll 0 0 #CCCCCC;
      font-size: 120%;
      left: -5px;
      margin-bottom: 5px;
      padding: 5px;
      position: relative;
      text-align: left;
      top: -5px;
      width: 100%;

      .add_round_corner(5px, 5px, 0, 0);
    }

    .description {
      padding: 10px;
      border: 1px dotted #ccc;
      color: #888;
      background: lightYellow;
      text-align: left;
    }
  }
}

.include-map-container() {
  .mapContainer {
    .tools {
      background: lightYellow;
      border-top: 1px dotted #ccc;
      margin-top: 5px;
      margin-bottom: 5px;
      color: #888;
      padding: 5px;

      a {
        color: #0066cc;
        border-right: 1px solid #ccc;
        padding: 5px;
      }

      select {
        width: 100%;
      }
    }

    .google_map_search_field {
      width: 80%;
    }

    .icon_current_location {
      float: right;
    }
  }

}

.add_plain_format() {
  div.plain {
    background: #f0f0f0;
    padding: 10px;
    font-size: 80%;


    .include-image-container();
    .include-map-container();
    .include-review-form();
    .include-heading();
    .include-top-bar();
    .include-checkin-box();
    .include-reviwe-button-color();
    .include-cell-num();
    .include-restaurant-status();
    .include-user-status();

    .form {
      .format_form();

      form {
        padding: 0!important;
        input[type="text"], input[type="password"], input[type="email"], input[type="url"] {
          width: 90%!important;
        }

        input[type="search"] {
          width: 40% !important;
          height: 20px;
        }

        textarea {
          width: 95%!important;
        }

        .fullRow {
          padding: 5px;
          background: #fff;
          border: 1px solid #ccc;

          .add_round_corner();
        }
      }
    }
  }

  div.userProfile {
    .topBar button {
      margin-top: 0;
    }
  }
}