<div class="grid_12">
  <h1>
    <%= @restaurant.name %> &raquo;
    <%= link_to 'Manage premium themes', restaurant_premium_templates_path(@restaurant) %> &raquo; New
  </h1>

  <div class='premium_templates'>
    <% form_for @premium_template do |f| %>
      <%= render :partial => 'form', :locals => {:f => f} %>

      <div class='space_10'></div>
      <%= f.submit t('button.create') %>
    <% end %>
  </div>
</div>