<% if @restaurant.author?(current_user) %>
  <a href='#adminPortion' class='adminPortionActivationLink' title='Edit products'>Show Product Editor</a>
  <a href='#' class='adminPortionActivationLink' title='Edit products' style="display:none">Hide Product Editor</a>

  <div class='adminPortion' style='display: none'>
    <%= link_to tt('nav.add_new_product'), new_restaurant_product_url %>
    <div class='clear'></div>

    <div class='space_10'></div>
    <div class='break'></div>
    <div class='space_10'></div>
    <div class='products'>
      <%= render :partial => 'products/parts/products',
                 :locals => {:products => @products_for_admin} %>
    </div>
  </div>
<% end %>

<%= render :partial => 'products/parts/slide' %>

