<div class='breadcrumbs'>
  <%= link_to @restaurant.name, restaurant_long_url(
      :id => @restaurant.id,
      :name => url_escape(@restaurant.name)) %> &raquo;
</div>
<h1>
  Reviews
</h1>
<div class='space_10'></div>
<div class='break'></div>
<div class='space_10'></div>
<%= render :partial => 'reviews/parts/restaurant_review',
           :locals => {:restaurant => @restaurant} %>
<div class="space_10"></div>
<%= render :partial => 'reviews/parts/review_editor' %>
<div class="space_10"></div>