<tr>
  <td><%= f.label :password %></td>
  <td><%= f.password_field :password %></td>
</tr>
<tr>
  <td><%= f.label :password_confirmation, 'Confirm' %></td>
  <td><%= f.password_field :password_confirmation %></td>
</tr>
