<p><%= label_tag 'password', t('fields.password') %><br/>
<%= f.password_field :password %></p>

<p><%= label_tag 'password_confirmation', t('fields.confirm_password') %><br/>
<%= f.password_field :password_confirmation %></p>