<div class="grid_4 grid_box bottom_box">
  <h4><%= label %></h4>

  <div class='clear'></div>
  <% users.each do |user| %>
    <div class="item">
      <%= link_to(image_tag(user.display_picture, :title => user.login, :alt => t('label.not_available')),
                  user_long_url(user)) %>
    </div>
  <% end %>
</div>