// Default configuration
@c_pad : 5px;
@c_light_color : #f0f0f0;
@c_tf_height: 23px;

// Import libraries
@import "core/mixins.less";
@import "core/default.less";
@import "core/common.less";
@import "core/icons.less";
@import "core/html5.less";

@import "modules/form.less";
@import "modules/activities.less";
@import "modules/box.less";
@import "modules/plain.less";

@import "layouts/header.less";
@import "layouts/body.less";
@import "layouts/footer.less";
