body {
  padding: 0;
  margin: 0;
  font-family: 'verdana';
}
body a {
  color: #3b5998;
  text-decoration: none;
}
body a:hover {
  color: #0066cc;
}
img {
  image-rendering: optimizequality;
}
a img {
  border: 0;
}
.clear {
  clear: both;
}
.space {
  clear: both;
  margin-top: 10px;
}
acronym {
  text-decoration: none;
  border: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
.stat_item acronym {
  text-decoration: none;
}
.highlight {
  background: lightYellow;
  padding: 2px;
  border-top: 1px solid #ccc;
}
.message {
  background: #f0f0f0;
  border: 1px solid #ccc;
  padding: 3px;
  color: #888;
  font-size: 70%;
  margin-left: 5px;
  margin-right: 5px;
}
.messageBox {
  background: #fff;
  border: 1px dashed #ccc;
  padding: 5px;
  color: #888;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.messageBox img {
  margin-right: 5px;
  margin-bottom: 5px;
}
.date {
  font-size: 70%;
  color: #BBB;
}
.long_button {
  padding: 6px;
  width: 100%;
  height: 30px;
  font-size: 110%;
}
.fullLength {
  width: 100%;
}
.expand {
  color: #ccc;
  float: right;
}
.wrapper {
  margin-left: -5px;
  margin-right: -5px;
  margin-top: -5px;
  margin-bottom: 10px;
  -webkit-box-shadow: 1px 1px 10px 1px #000000;
  -moz-box-shadow: 1px 1px 10px 1px #000000;
  box-shadow: 1px 1px 10px 1px #000000;
}
.countBubble {
  border: 1px solid #ccc;
  background: red;
  padding: 2px 5px;
  font-size: 80%;
  color: #fff;
  position: relative;
  top: -10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.countBubble:hover {
  color: #888;
}
.album a {
  float: left;
}
.album a img {
  float: left;
  margin-bottom: 5px;
}
.album a .countBubble {
  float: left;
  position: relative;
  left: -25px;
  top: 5px;
}
.errorExplanation {
  background: lightYellow;
  border: 1px solid orange;
  margin: 5px;
  padding: 5px;
  font-size: 80%;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.errorExplanation ul li {
  color: red;
}
.margin {
  margin: 5px;
}
.locale_en form label {
  text-transform: capitalize!important;
}
.icon_review {
  background: url(/images/icons/dryicons/reviews-min.png) no-repeat 0;
  padding-left: 9px;
}
.icon_loved {
  background: url(/images/icons/dryicons/loves-min.png) no-repeat 0;
  padding-left: 9px;
}
.icon_wannago {
  background: url(/images/icons/dryicons/wanna_go-min.png) no-repeat 0;
  padding-left: 9px;
}
.icon_checkin {
  background: url(/images/icons/dryicons/checkins-min.png) no-repeat 0;
  padding-left: 9px;
}
.icon_settings {
  background: url(/images/icons/dryicons/settings.png) no-repeat 0 !important;
  padding-left: 35px!important;
}
input.html5_search_field {
  border: 1px solid #ccc;
  padding: 2px 2px 2px 25px;
  background: url("/images/fresh/search_icon.png") no-repeat scroll 2px 2px #ffffff;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
input.html5_search_field:hover {
  border: 1px inset;
}
#header #topNav {
  background: #ffb76b;
  /* Old browsers */

  background: -moz-linear-gradient(center top, #ffffff 0%, #ffa73d 50%, #ff9a00 51%, #ff9a00 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(50%, #ffa73d), color-stop(51%, #ff9a00), color-stop(100%, #ff9a00));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #ffffff 0%, #ffa73d 50%, #ff9a00 51%, #ff9a00 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #ffffff 0%, #ffa73d 50%, #ff9a00 51%, #ff9a00 100%);
  /* Opera11.10+ */

  background: -ms-linear-gradient(top, #ffffff 0%, #ffa73d 50%, #ff9a00 51%, #ff9a00 100%);
  /* IE10+ */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffb76b', endColorstr = '#ff7f04', GradientType = 0);
  /* IE6-9 */

  background: linear-gradient(top, #ffffff 0%, #ffa73d 50%, #ff9a00 51%, #ff9a00 100%);
  /* W3C */

  padding: 5px;
}
#header #topNav a.logo {
  float: left;
}
#header #topNav a.logo img {
  width: 80px;
}
#header #topNav .navigationToolbar {
  padding: 5px;
  text-align: right;
  font-size: 70%;
  background: #f0f0f0;
  border-bottom: 2px solid #ccc;
}
#header #topNav .navigationToolbar a {
  color: red;
}
#header #topNav #superParentNav {
  margin: 0;
  padding: 5px;
  list-style-type: none;
  margin-bottom: 5px;
  text-align: center;
}
#header #topNav #superParentNav li {
  background: #f0f0f0;
  border: 1px solid #ccc;
  /*display: inline;*/

  display: block;
  font-size: 80%;
  height: 30px;
  /*width: 25%;*/

  margin: 5px;
  padding: 5px;
  text-align: left;
  font-weight: bold;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
#header #topNav #superParentNav li form {
  float: left;
  margin-right: 5px;
  padding: 5px;
}
#header #topNav #superParentNav li form div {
  display: inline;
  padding: 5px;
}
#header #topNav #superParentNav li a {
  padding: 5px;
  line-height: 30px;
  color: #000;
  text-transform: capitalize;
}
#header #topNav #superParentNav li .fb_button {
  padding: 0;
  line-height: normal;
  margin-top: 4px;
}
#header #topNav #parentMenu {
  margin: 0;
  float: right;
}
#header #topNav #parentMenu .iconMenu a img {
  width: 17px;
  margin-top: 5px;
}
#header #topNav #parentMenu li.on a {
  color: yellow;
}
#header #topNav #parentMenu li {
  float: left;
  margin-top: 5px;
  list-style-type: none;
}
#header #topNav #parentMenu li a {
  padding: 5px;
  font-size: 90%;
  color: #ffffff;
  text-decoration: none;
}
#header #topNav #parentMenu li a:hover {
  color: #0066cc;
}
#header #searchNav {
  background: #f0f0f0;
  padding: 5px;
  text-align: center;
}
#header #searchNav input {
  width: 91%;
  height: 23px;
}
#body {
  background: #f0f0f0;
}
#body .siteMessage {
  background: none repeat scroll 0 0 lightYellow;
  bottom: 0;
  cursor: pointer;
  font-weight: bold;
  padding: 5px;
  position: fixed;
  text-align: center;
  width: 100%;
  -webkit-box-shadow: 1px 1px 10px 2px #000000;
  -moz-box-shadow: 1px 1px 10px 2px #000000;
  box-shadow: 1px 1px 10px 2px #000000;
}
#body .siteMessage .quote {
  font-weight: bold;
}
#body .weeklyHot .content, #body .upcomingEventsBox .content {
  color: #888;
}
#body div.box {
  clear: both;
  background: #fff;
  margin: 0 10px 10px 10px;
  -webkit-box-shadow: 1px 1px 5px 1px #ababab;
  -moz-box-shadow: 1px 1px 5px 1px #ababab;
  box-shadow: 1px 1px 5px 1px #ababab;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
#body div.box form {
  padding: 10px;
}
#body div.box form input[type="submit"] {
  padding: 6px;
  width: 100%;
  height: 30px;
  font-size: 110%;
}
#body div.box form input[type="search"] {
  width: 90%;
}
#body div.box form select {
  padding: 5px;
}
#body div.box form table {
  width: 100%;
}
#body div.box form table label {
  font-size: 80%;
  font-weight: bold;
}
#body div.box form table input[type="text"],
#body div.box form table input[type="password"],
#body div.box form table input[type="email"],
#body div.box form table input[type="web"] {
  width: 95%;
  padding: 6px;
  border: 1px solid #ccc;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
#body div.box form table input[type="text"]:focus,
#body div.box form table input[type="password"]:focus,
#body div.box form table input[type="email"]:focus,
#body div.box form table input[type="web"]:focus {
  border-style: inset;
}
#body div.box form table input[type="submit"] {
  padding: 6px;
  width: 100%;
  height: 30px;
  font-size: 110%;
}
#body div.box form table textarea {
  width: 98%;
  padding: 5px;
  border: 1px solid #ccc;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
#body div.box form table textarea:focus {
  border-style: inset;
}
#body div.box form table .formError {
  color: red;
  font-size: 70%;
}
#body div.box form table .fieldWithErrors input {
  border: 1px solid red;
}
#body div.box form table .fieldWithErrors textarea {
  border: 1px solid red;
}
#body div.box form table .mapContainer .google_map_search_field {
  border: 1px solid #ccc;
  padding: 5px;
  width: 80%;
  margin-bottom: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
#body div.box form table .mapContainer .icon_current_location {
  padding: 5px;
  margin-left: 5px;
}
#body div.box form table .options_box .tagSearchField {
  width: 50%;
  height: 22px;
  border-width: 1px 0 1px 1px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 5px;
}
#body div.box form table .options_box .tagGroupName {
  width: 40%;
  border: 1px solid #ccc;
  border-width: 1px 1px 1px 0;
  background: #ccc;
  color: #888;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 0;
}
#body div.box form table .options_box .options {
  max-height: 100px;
  overflow-y: scroll;
  background: #f0f0f0;
  margin-top: 10px;
  border: 1px solid #ccc;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
#body div.box form table .options_box .options .option {
  background: none repeat scroll 0 0 #FFFFFF;
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 2px;
  padding-bottom: 2px;
}
#body div.box form table .options_box .options .option label {
  margin-left: 5px;
}
#body div.box form .tags {
  border-bottom: 1px solid #CCCCCC;
  float: left;
  font-size: 70%;
  height: 136px;
  margin-bottom: 5px;
  overflow-y: scroll;
  overflow-x: none;
  padding: 5px;
  width: 46%;
}
#body div.box .properties {
  font-size: 80%;
}
#body div.box .properties .phone {
  background: url("/images/icons/dryicons/icon_phone.png") no-repeat scroll 0 center transparent;
  padding: 5px;
  padding-left: 20px;
}
#body div.box .properties .address {
  background: url("/images/icons/dryicons/icon_address.png") no-repeat scroll 0 center transparent;
  padding: 5px;
  padding-left: 20px;
}
#body div.box .properties .key {
  float: left;
  width: 100px;
}
#body div.box .properties .value {
  float: left;
  padding: 5px;
  font-weight: bold;
}
#body div.box .checkinBox button {
  margin-top: 5px;
  width: 100%;
  height: 40px;
  padding: 5px;
  font-size: 120%;
  font-weight: bold;
  border: 0;
  color: #fff;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background: #ffb76b;
  /* Old browsers */

  background: -moz-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffb76b), color-stop(50%, #ffa73d), color-stop(51%, #ff7c00), color-stop(100%, #ff7f04));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%);
  /* Opera11.10+ */

  background: -ms-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%);
  /* IE10+ */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=0 );
  /* IE6-9 */

  background: linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%);
  /* W3C */

  text-shadow: 1px 1px 10px #000000;
  filter: dropshadow(color=#000000, offx=1, offy=1);
}
#body div.box .checkinBox button b {
  float: left;
  margin-top: 5px;
}
#body div.box .checkinBox button img {
  -webkit-box-shadow: none!important;
  -moz-box-shadow: none!important;
  box-shadow: none!important;
  margin-top: -4px;
  background: transparent;
  float: right;
  margin-right: -10px;
}
#body div.box .checkinBox .gray_button {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.65)), color-stop(100%, rgba(0, 0, 0, 0)));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* Opera11.10+ */

  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* IE10+ */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
  /* IE6-9 */

  background: linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* W3C */

}
#body div.box .reviews {
  padding: 5px;
}
#body div.box .reviews .reviewStats {
  font-size: 80%;
  padding: 5px;
  margin-bottom: 5px;
}
#body div.box .reviews .reviewStats .stat_item {
  padding: 2px;
  background: lightYellow;
  margin-right: 5px;
}
#body div.box .reviews .tbl_reviews {
  font-size: 90%;
  width: 100%;
}
#body div.box .reviews .tbl_reviews p {
  margin: 0;
  padding: 0;
  display: inline;
  font-size: 90%;
}
#body div.box .reviews .tbl_reviews .avatar {
  width: 40px;
}
#body div.box .reviews .tbl_reviews td {
  vertical-align: top;
}
#body div.box .reviews .tbl_reviews td .image_small img {
  padding: 2px;
  background: #fff;
  -webkit-box-shadow: 1px 1px 5px 1px #ababab;
  -moz-box-shadow: 1px 1px 5px 1px #ababab;
  box-shadow: 1px 1px 5px 1px #ababab;
}
#body div.box .reviews .tbl_reviews td .review {
  margin-left: 5px;
  color: #888;
  border-bottom: 1px dotted #ccc;
}
#body div.box .reviews .tbl_reviews td .review .reviewer {
  font-size: 70%;
  display: block;
  color: #BBB;
}
#body div.box .reviews .tbl_reviews td .review .reviewer a {
  color: #888;
  font-weight: bold;
}
#body div.box .reviews .tbl_reviews td .review .add_comment_link {
  font-size: 100%;
  color: #000;
  background: lightYellow;
  font-weight: bold;
}
#body div.box .reviews .tbl_reviews td .review .review_comment_form {
  position: absolute;
  padding: 5px;
  left: 10px;
  width: 92%;
  background: lightYellow;
  border: 1px dotted #ccc;
  -webkit-box-shadow: 1px 1px 5px 1px #ababab;
  -moz-box-shadow: 1px 1px 5px 1px #ababab;
  box-shadow: 1px 1px 5px 1px #ababab;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
#body div.box .reviews .tbl_reviews td .review .review_comment_form textarea {
  width: 100%;
  height: 40px;
}
#body div.box .reviews .tbl_reviews td .review .review_comments .review_comment {
  background: #EDEFF4;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
#body div.box .reviews .tbl_reviews td .review .review_comments .review_comment td {
  padding: 5px;
  vertical-align: middle;
}
#body div.box .reviews .tbl_reviews td .review .review_comments .review_comment .review_comment_author {
  font-size: 70%;
  width: 20px;
  display: block;
}
#body div.box .reviews .tbl_reviews td .review .review_comments .review_comment .review_comment_author img {
  width: 20px;
}
#body div.box .reviews .tbl_reviews td .review .review_comments .review_content {
  margin-bottom: 5px;
  padding: 5px;
  font-size: 80%;
  vertical-align: middle;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
#body div.box .navigation {
  font-size: 12px;
  background: #f0f0f0;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  color: #888;
}
#body div.box .navigation a {
  color: #888;
}
#body div.box .breadcrumbs div.crumb {
  display: inline;
}
#body div.box .review_form {
  position: absolute;
  padding: 5px;
  left: 10px;
  width: 92%;
  background: lightYellow;
  border: 1px dotted #ccc;
  -webkit-box-shadow: 1px 1px 5px 1px #ababab;
  -moz-box-shadow: 1px 1px 5px 1px #ababab;
  box-shadow: 1px 1px 5px 1px #ababab;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
#body div.box .review_form .reviewHeader {
  font-size: 80%;
}
#body div.box .review_form select {
  padding: 5px;
}
#body div.box .review_form textarea {
  width: 100%;
  height: 40px;
}
#body div.box .review_form button {
  width: 100%;
  border: 0;
}
#body div.box h4, #body div.box h1 {
  padding: 5px;
  margin: 0;
  font-weight: normal;
  font-size: 90%;
  color: #888;
  cursor: pointer;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.39) 0%, rgba(0, 0, 0, 0.38) 1%, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 0) 99%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.39)), color-stop(1%, rgba(0, 0, 0, 0.38)), color-stop(35%, rgba(0, 0, 0, 0)), color-stop(99%, rgba(0, 0, 0, 0)));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.39) 0%, rgba(0, 0, 0, 0.38) 1%, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 0) 99%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.39) 0%, rgba(0, 0, 0, 0.38) 1%, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 0) 99%);
  /* Opera11.10+ */

  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.39) 0%, rgba(0, 0, 0, 0.38) 1%, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 0) 99%);
  /* IE10+ */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63000000', endColorstr='#00000000',GradientType=0 );
  /* IE6-9 */

  background: linear-gradient(top, rgba(0, 0, 0, 0.39) 0%, rgba(0, 0, 0, 0.38) 1%, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 0) 99%);
  /* W3C */

  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
#body div.box h1 {
  font-size: 120%;
}
#body div.box .iconHead {
  padding-right: 30px;
}
#body div.box .archiveButton {
  font-size: 70%;
  padding: 5px;
  color: red;
  font-weight: bold;
}
#body div.box .text {
  color: #888;
  font-size: 80%;
}
#body div.box .content {
  padding: 5px;
}
#body div.box .content h5 {
  color: #888;
  border-bottom: 1px solid #ccc;
  font-size: 70%;
  font-weight: normal;
}
#body div.box .content .navigation {
  font-size: 12px;
  background: #f0f0f0;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  color: #888;
}
#body div.box .content .navigation a {
  color: #888;
}
#body div.box .content .updates_item {
  background: none repeat scroll 0 0 #fff;
  border-bottom: 1px solid #E9E9E9;
  font-size: 80%;
  padding: 5px 5px 0;
  cursor: pointer;
}
#body div.box .content .updates_item .small {
  float: left;
  margin-right: 5px;
}
#body div.box .content .updates_item .small img {
  width: 20px;
}
#body div.box .content .updates_item .grid_3 {
  float: left;
  width: 90%;
}
#body div.box .content .updates_item .grid_3 .date {
  font-size: 70%;
}
#body div.box .content .updates_item .grid_3 .eventContent {
  color: #888;
}
#body div.box .content .updates_item .grid_3 .storyImage {
  padding: 5px;
  border: 1px solid #ccc;
  margin-top: 10px;
}
#body div.box .content .updates_item .grid_3 .storyCaption {
  background: none repeat scroll 0 0 #CCCCCC;
  color: #000;
  font-size: 80%;
  margin: -27px 0 0;
  opacity: 0.6;
  padding: 2px 5px;
  position: relative;
  text-shadow: 1px 1px 3px #000000;
}
#body div.box .content .updates_item .grid_3 .storyCommentsCount {
  background: none repeat scroll 0 0 yellow;
  float: right;
  font-weight: bold;
  margin-bottom: -30px;
  position: relative;
  right: 5px;
  text-align: center;
  top: 5px;
  width: 30px;
  cursor: pointer;
  -webkit-border-top-left-radius: 12px;
  -webkit-border-top-right-radius: 12px;
  -webkit-border-bottom-right-radius: 12px;
  -webkit-border-bottom-left-radius: 12px;
  -moz-border-radius-topleft: 12px;
  -moz-border-radius-topright: 12px;
  -moz-border-radius-bottomright: 12px;
  -moz-border-radius-bottomleft: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
#body div.box .content .updates_item .grid_3 .storyReview {
  background: url("/images/icons/dryicons/comments.png") no-repeat scroll 5px center lightYellow;
  border: 1px solid #CCCCCC;
  font-size: 80%;
  font-style: italic;
  margin-top: 5px;
  padding: 5px 5px 5px 50px;
  min-height: 30px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 0 12px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 0 12px;
  border-top-left-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 0 12px;
}
#body div.box .content .infoBox {
  height: 100px;
  display: inline;
  margin-right: 5px;
}
#body div.box .content .infoBox .inner {
  width: 100px;
}
#body div.box .content .infoBox .inner a {
  float: left;
  width: 40px;
}
#body div.box .content .infoBox .inner a img {
  width: 40px;
  -webkit-box-shadow: 1px 1px 5px 1px #ababab;
  -moz-box-shadow: 1px 1px 5px 1px #ababab;
  box-shadow: 1px 1px 5px 1px #ababab;
}
#body div.box .content .infoBox .inner .side {
  margin: 0;
  padding: 0 0 0 2px;
  font-size: 70%;
  width: 60px;
  word-wrap: break-word;
  vertical-align: top;
  overflow: hidden;
  float: left;
}
#body div.box .content .infoBox .outer {
  width: 100px;
}
#body div.box .content .infoBox .outer .ratings {
  background: red;
  font-size: 60%;
}
#body div.box .content table {
  width: 46%;
  font-size: 60%;
  float: left;
  border: 1px solid #ccc;
  margin-right: 5px;
  margin-bottom: 5px;
  display: block;
  height: 60px;
  display: block;
  background: #fff;
  -webkit-box-shadow: 1px 1px 2px 1px #eeeeee;
  -moz-box-shadow: 1px 1px 2px 1px #eeeeee;
  box-shadow: 1px 1px 2px 1px #eeeeee;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
#body div.box .content table tr td .hightlight {
  background: transparent;
}
#body div.box .content table tr td a img {
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  -webkit-box-shadow: 1px 1px 5px 1px #ababab;
  -moz-box-shadow: 1px 1px 5px 1px #ababab;
  box-shadow: 1px 1px 5px 1px #ababab;
}
#body div.box .content .pagination {
  font-size: 80%;
  display: block;
  text-align: center;
}
#body div.box .content .pagination a, #body div.box .content .pagination .current {
  display: none;
}
#body div.box .content .pagination .next_page, #body div.box .content .pagination .prev_page {
  display: inline;
  padding: 5px;
  margin-right: 5px;
  border: 1px solid #ccc;
}
#body div.box .content .pagination .disabled {
  color: #888;
  background: #f0f0f0;
}
#body div.box .content .tagGroup {
  font-size: 80%;
  background: #f0f0f0;
  border: 1px dotted #ccc;
  padding: 5px;
  margin-bottom: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
#body div.box .content .tagGroup strong {
  color: #888;
}
#body div.box .content .fullRowUserInfo table {
  width: 100%;
  min-height: inherit;
  border: 0;
  font-size: 100%;
  -webkit-box-shadow: none!important;
  -moz-box-shadow: none!important;
  box-shadow: none!important;
}
#body div.plain {
  background: #f0f0f0;
  padding: 10px;
  font-size: 80%;
}
#body div.plain .imageContainer {
  padding: 5px;
  background: #f0f0f0;
  text-align: center;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-box-shadow: 1px 1px 5px 1px #ababab;
  -moz-box-shadow: 1px 1px 5px 1px #ababab;
  box-shadow: 1px 1px 5px 1px #ababab;
}
#body div.plain .imageContainer a {
  border: none;
}
#body div.plain .imageContainer h4 {
  background: none repeat scroll 0 0 #CCCCCC;
  font-size: 120%;
  left: -5px;
  margin-bottom: 5px;
  padding: 5px;
  position: relative;
  text-align: left;
  top: -5px;
  width: 100%;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#body div.plain .imageContainer .description {
  padding: 10px;
  border: 1px dotted #ccc;
  color: #888;
  background: lightYellow;
  text-align: left;
}
#body div.plain .mapContainer .tools {
  background: lightYellow;
  border-top: 1px dotted #ccc;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #888;
  padding: 5px;
}
#body div.plain .mapContainer .tools a {
  color: #0066cc;
  border-right: 1px solid #ccc;
  padding: 5px;
}
#body div.plain .mapContainer .tools select {
  width: 100%;
}
#body div.plain .mapContainer .google_map_search_field {
  width: 80%;
}
#body div.plain .mapContainer .icon_current_location {
  float: right;
}
#body div.plain .review_form {
  position: absolute;
  padding: 5px;
  left: 10px;
  width: 92%;
  background: lightYellow;
  border: 1px dotted #ccc;
  -webkit-box-shadow: 1px 1px 5px 1px #ababab;
  -moz-box-shadow: 1px 1px 5px 1px #ababab;
  box-shadow: 1px 1px 5px 1px #ababab;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
#body div.plain .review_form .reviewHeader {
  font-size: 80%;
}
#body div.plain .review_form select {
  padding: 5px;
}
#body div.plain .review_form textarea {
  width: 100%;
  height: 40px;
}
#body div.plain .review_form button {
  width: 100%;
  border: 0;
}
#body div.plain h1 {
  color: orange;
  text-shadow: 1px 1px 1px #000000;
  filter: dropshadow(color=#000000, offx=1, offy=1);
}
#body div.plain .topBar {
  width: 100%;
}
#body div.plain .topBar td {
  vertical-align: top;
}
#body div.plain .topBar td img {
  padding: 2px;
  background: #fff;
  -webkit-box-shadow: 1px 1px 5px 1px #ababab;
  -moz-box-shadow: 1px 1px 5px 1px #ababab;
  box-shadow: 1px 1px 5px 1px #ababab;
}
#body div.plain .checkinBox button {
  margin-top: 5px;
  width: 100%;
  height: 40px;
  padding: 5px;
  font-size: 120%;
  font-weight: bold;
  border: 0;
  color: #fff;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background: #ffb76b;
  /* Old browsers */

  background: -moz-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffb76b), color-stop(50%, #ffa73d), color-stop(51%, #ff7c00), color-stop(100%, #ff7f04));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%);
  /* Opera11.10+ */

  background: -ms-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%);
  /* IE10+ */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=0 );
  /* IE6-9 */

  background: linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%);
  /* W3C */

  text-shadow: 1px 1px 10px #000000;
  filter: dropshadow(color=#000000, offx=1, offy=1);
}
#body div.plain .checkinBox button b {
  float: left;
  margin-top: 5px;
}
#body div.plain .checkinBox button img {
  -webkit-box-shadow: none!important;
  -moz-box-shadow: none!important;
  box-shadow: none!important;
  margin-top: -4px;
  background: transparent;
  float: right;
  margin-right: -10px;
}
#body div.plain .checkinBox .gray_button {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.65)), color-stop(100%, rgba(0, 0, 0, 0)));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* Opera11.10+ */

  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* IE10+ */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
  /* IE6-9 */

  background: linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* W3C */

}
#body div.plain .reviewButton button {
  background: #a90329;
  /* Old browsers */

  background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a90329), color-stop(44%, #8f0222), color-stop(100%, #6d0019));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
  /* Opera11.10+ */

  background: -ms-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
  /* IE10+ */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 );
  /* IE6-9 */

  background: linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
  /* W3C */

}
#body div.plain .cellNum {
  padding: 5px;
  font-size: 110%;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
#body div.plain .cellNum .key {
  display: inline;
  font-weight: bold;
  margin-right: 10px;
  background: #f0f0f0 url("/images/icons/dryicons/icon_phone.png") no-repeat scroll 5px center;
  padding-left: 25px;
}
#body div.plain .cellNum .value {
  display: inline;
  padding-top: 10px;
  padding-bottom: 10px;
}
#body div.plain .restaurantStatus {
  background: none repeat scroll 0 0 #F0F0F0;
  display: block;
  padding: 5px;
  width: 95%;
}
#body div.plain .restaurantStatus .block {
  float: left;
  padding: 5px;
  background: #fff;
  text-align: center;
  margin-right: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-box-shadow: 1px 1px 5px 1px #ababab;
  -moz-box-shadow: 1px 1px 5px 1px #ababab;
  box-shadow: 1px 1px 5px 1px #ababab;
}
#body div.plain .restaurantStatus .block .label {
  font-size: 80%;
}
#body div.plain .restaurantStatus .block .value {
  font-size: 140%;
  font-weight: bold;
  font-family: "comic Sans MS";
}
#body div.plain .userStatusBox {
  background: none repeat scroll 0 0 #F0F0F0;
  display: block;
  width: 95%;
}
#body div.plain .userStatusBox .header {
  color: #888;
  margin-bottom: 3px;
}
#body div.plain .userStatusBox .boxItem {
  float: left;
  padding: 5px;
  background: #fff;
  text-align: center;
  margin-right: 5px;
  font-size: 80%;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-box-shadow: 1px 1px 5px 1px #ababab;
  -moz-box-shadow: 1px 1px 5px 1px #ababab;
  box-shadow: 1px 1px 5px 1px #ababab;
}
#body div.plain .userStatusBox .boxItem .label {
  font-size: 80%;
}
#body div.plain .userStatusBox .boxItem .value {
  font-size: 140%;
  font-weight: bold;
  font-family: "comic Sans MS";
}
#body div.plain .form form {
  padding: 10px;
}
#body div.plain .form form input[type="submit"] {
  padding: 6px;
  width: 100%;
  height: 30px;
  font-size: 110%;
}
#body div.plain .form form input[type="search"] {
  width: 90%;
}
#body div.plain .form form select {
  padding: 5px;
}
#body div.plain .form form table {
  width: 100%;
}
#body div.plain .form form table label {
  font-size: 80%;
  font-weight: bold;
}
#body div.plain .form form table input[type="text"],
#body div.plain .form form table input[type="password"],
#body div.plain .form form table input[type="email"],
#body div.plain .form form table input[type="web"] {
  width: 95%;
  padding: 6px;
  border: 1px solid #ccc;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
#body div.plain .form form table input[type="text"]:focus,
#body div.plain .form form table input[type="password"]:focus,
#body div.plain .form form table input[type="email"]:focus,
#body div.plain .form form table input[type="web"]:focus {
  border-style: inset;
}
#body div.plain .form form table input[type="submit"] {
  padding: 6px;
  width: 100%;
  height: 30px;
  font-size: 110%;
}
#body div.plain .form form table textarea {
  width: 98%;
  padding: 5px;
  border: 1px solid #ccc;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
#body div.plain .form form table textarea:focus {
  border-style: inset;
}
#body div.plain .form form table .formError {
  color: red;
  font-size: 70%;
}
#body div.plain .form form table .fieldWithErrors input {
  border: 1px solid red;
}
#body div.plain .form form table .fieldWithErrors textarea {
  border: 1px solid red;
}
#body div.plain .form form table .mapContainer .google_map_search_field {
  border: 1px solid #ccc;
  padding: 5px;
  width: 80%;
  margin-bottom: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
#body div.plain .form form table .mapContainer .icon_current_location {
  padding: 5px;
  margin-left: 5px;
}
#body div.plain .form form table .options_box .tagSearchField {
  width: 50%;
  height: 22px;
  border-width: 1px 0 1px 1px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 5px;
}
#body div.plain .form form table .options_box .tagGroupName {
  width: 40%;
  border: 1px solid #ccc;
  border-width: 1px 1px 1px 0;
  background: #ccc;
  color: #888;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 0;
}
#body div.plain .form form table .options_box .options {
  max-height: 100px;
  overflow-y: scroll;
  background: #f0f0f0;
  margin-top: 10px;
  border: 1px solid #ccc;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
#body div.plain .form form table .options_box .options .option {
  background: none repeat scroll 0 0 #FFFFFF;
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 2px;
  padding-bottom: 2px;
}
#body div.plain .form form table .options_box .options .option label {
  margin-left: 5px;
}
#body div.plain .form form .tags {
  border-bottom: 1px solid #CCCCCC;
  float: left;
  font-size: 70%;
  height: 136px;
  margin-bottom: 5px;
  overflow-y: scroll;
  overflow-x: none;
  padding: 5px;
  width: 46%;
}
#body div.plain .form form {
  padding: 0!important;
}
#body div.plain .form form input[type="text"],
#body div.plain .form form input[type="password"],
#body div.plain .form form input[type="email"],
#body div.plain .form form input[type="url"] {
  width: 90%!important;
}
#body div.plain .form form input[type="search"] {
  width: 40% !important;
  height: 20px;
}
#body div.plain .form form textarea {
  width: 95%!important;
}
#body div.plain .form form .fullRow {
  padding: 5px;
  background: #fff;
  border: 1px solid #ccc;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
#body div.userProfile .topBar button {
  margin-top: 0;
}
#body div.noBorder {
  border: 0;
  background: none;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-box-shadow: none!important;
  -moz-box-shadow: none!important;
  box-shadow: none!important;
}
#body div.noBorder h4 {
  background: none;
}
#footer {
  padding: 10px;
  font-size: 80%;
  color: #fff;
  text-align: center;
  background: #888;
  text-shadow: 1px 1px 1px #000000;
  filter: dropshadow(color=#000000, offx=1, offy=1);
}
#footer a {
  color: #ffff00;
  text-decoration: none;
}
#footer a:hover {
  color: #0066cc;
}
#footer .copyrights {
  padding: 10px;
  text-align: center;
  display: block;
}
